<h2 >Editar Categoria</h2>
<div class="card">
 
    <div class="card-body">
     <form (submit)="EditarCategoria()"  >
        <input type="text"  hidden  name="cate_Id" [(ngModel)]="categoria.cate_Id"  class="form-control"  />
        <div class="row" >
            
            <div class="col-md-12" >
                <label for="" class="label-control">Categoria:</label>
                <input type="text" name="cate_Descripcion" [(ngModel)]="categoria.cate_Descripcion"   id="carg_Descripcion"   class="form-control" />
                <br>
              
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary m-2"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-save"></span> Guardar </button>
                <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-times"></span> Cancelar</button>
        </div>
        </div>
     </form>
    </div>
  </div>

