<h2 >Editar Categoria</h2>
<div class="card">
 
    <div class="card-body">
     <form (submit)="EditarCategoria()"  >
        <input type="text"  hidden  name="cate_Id" [(ngModel)]="categoria.cate_Id"  class="form-control"  />
        <div class="row" >
            
            <div class="col-md-12" >
                <label for="" class="label-control">Categoria:</label>
                <input pinputtext id="descripcion" name="cate_Descripcion" [(ngModel)]="categoria.cate_Descripcion"     class="p-inputtext form-control ng-invalid " required #descripcion="ngModel" />
                <small class="p-error" *ngIf="(descripcion.invalid || !categoria.cate_Descripcion.trim()) && cont == 1">La categoria es requerido</small>
                <br>
              
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <p-button type="submit" class="btn button-primary m-2"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-save"></span> Guardar </p-button>
                <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-times"></span> Cancelar</button>
        </div>
        </div>
     </form>
    </div>
  </div>

