<h2 >Crear Cliente</h2>

<div class="card">
    <div class="card-body">
     <form (submit)="crearCliente()">
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">RTN-DNI</label> <span class="text-red-400">*</span>
                <input pinputtext id="iden" name="clie_Identidad_Rtn" [(ngModel)] = "cliente.clie_Identidad_Rtn" class="p-inputtext form-control ng-invalid " required #iden="ngModel"/>
                <small class="p-error" *ngIf="iden.invalid && cont == 1">La identidad es requerida</small>
                
            </div>
            <div class="col-md-6">
                <label for="" class="label-control">Nombres</label> <span class="text-red-400">*</span>
                <input pinputtext id="nom" name="clie_Nombre" [(ngModel)] = "cliente.clie_Nombre" class="p-inputtext form-control ng-invalid " required #nom="ngModel"/>
                <small class="p-error" *ngIf="nom.invalid && cont == 1">El nombre es requerido</small>
                
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">Apellidos</label> <span class="text-red-400">*</span>
                <input pinputtext id="ape" name="clie_Apellido" [(ngModel)] = "cliente.clie_Apellido" class="p-inputtext form-control ng-invalid " required #ape="ngModel"/>
                <small class="p-error" *ngIf="ape.invalid && cont == 1">El apellido es requerido</small>
                
            </div>
            

              <div class="col-md-6">
                <label for="" class="label-control">Sexo</label>  <span class="text-red-400">*</span>
                <br>
                <p-selectButton
                name="clie_Sexo"
                [options]="sexoOptions"
                optionLabel="label"
                optionValue="value"
                [(ngModel)]="cliente.clie_Sexo">
              </p-selectButton>
              
              </div>
            
        </div>
  
        <br>
        <div class="row">
            <div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary m-2" value="Guardar" />
                    <button type="button" class="btn btn-danger m-2" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
                </div>
                
            </div>
        </div>
     </form>
    </div>
  </div>
  <p-toast></p-toast> 