<ng-container *ngIf="!showCreate  && !showEdit" @collapse>
  <h2>Departamentos</h2>
<div class="card">

    <div class="card-body">
        <a (click)="toggleCreate()" class="btn btn-primary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-plus-circle p-button-icon p-button-icon-left ng-star-inserted"></span> Nuevo</a>
        <table class="table table-striped">
            <thead>
              <tr>
                <th >Acciones</th>
               
                <th>Departamento</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let departamento of departamentos">
                <td >
                  <p-splitButton label="Acciones" icon="pi pi-cog" [model]="departamento.acciones" styleClass="p-button-info"></p-splitButton>
                    <!-- <a (click)="ObtenerEstadoCivil(estadoCivil.esCi_Id)" class="btn btn-warning">Editar</a> -->
   
                  </td>
                
                <td>{{ departamento.depa_Descripcion }}</td>
                
              </tr>
            </tbody>
        </table>


    </div>
  </div>
 
</ng-container>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast> <!-- Si querés mostrar los mensajes -->
  <div *ngIf="showCreate" @collapse>
    <app-create (creado)="registroCreado()" (cancelar)="cancelCreate()" ></app-create>
  </div>

  <div *ngIf="showEdit" @collapse>
    <!-- <app-edit [departamento]="departamentoSeleccionado" (cancelar)="cancelEdit()" ></app-edit>-->
  </div>


