<h2 >Editar Usuario</h2>
<div class="grid p-fluid">
    <div class="col-12"> 
<div class="card">
    <div class="card-body">
     <form (submit)="EditarUsuario()"  >
        <input type="text"  hidden  name="usua_Id" [(ngModel)]="usuario.usua_Id"  class="form-control"  />
        <div class="row" >
            <div class="row">
                <div class="col-md-6">
                    
                    <label for="" class="label-control">Usuario</label>  <span class="text-red-400">*</span>
                    <input pinputtext id="usuar" name="usua_Usuario" [(ngModel)] = "usuario.usua_Usuario" class="p-inputtext form-control ng-invalid " required #usuar="ngModel"/>
                    <small class="p-error" *ngIf="(usuar.invalid || !usuario.usua_Usuario.trim()) && cont == 1">El usuario es requerido</small>
                    
                </div>
           
                <div class="col-md-6">
                    <label for="" class="label-control">Correo</label>  <span class="text-red-400">*</span>
                    <input pinputtext id="corr" name="usua_Correo" [(ngModel)] = "usuario.usua_Correo" class="p-inputtext form-control ng-invalid " required #corr="ngModel"/>
                    <small class="p-error" *ngIf="(corr.invalid || !usuario.usua_Correo.trim()) && cont == 1">El correo es requerido</small>
                    
                </div>
    
                <div class="col-md-6">
                    <label>Empleados:</label>  <span class="text-red-400">*</span>
                    <p-dropdown [filter]="true"  [options]="empleados" optionLabel="empl_Nombre" [(ngModel)]="usuario.empl_Id" 
                    placeholder="Empleados" [showClear]="true" optionValue="empl_Id" name="empl_Id" appendTo="body"></p-dropdown>
                    <small class="p-error" *ngIf="!usuario.empl_Id && cont == 1">El empleado es requerido</small>
                </div>
                
           
                 <div class="col-md-6">
                    <label>Roles:</label>  <span class="text-red-400">*</span>
                    <p-dropdown [filter]="true"  [options]="roles" optionLabel="role_Descripcion" [(ngModel)]="usuario.role_Id" 
                    placeholder="Roles" [showClear]="true" optionValue="role_Id" name="role_Id" appendTo="body"></p-dropdown>
                    <small class="p-error" *ngIf="!usuario.role_Id && cont == 1">El rol es requerido</small>
                </div>
    
                <div class="col-md-6">
                    <label for="" class="label-control">Es Admin?</label>  <span class="text-red-400">*</span>
                    <br>
                    <p-toggleButton [(ngModel)]="usuario.usua_Admin" onLabel="Si" offLabel="No"
                    [style]="{'width': '10em'}" name="usua_Admin"></p-toggleButton>
                </div>
                
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary m-2"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-save"></span> Guardar </button>
                <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-times"></span> Cancelar</button>
            </div>
        </div>
     </form>
    </div>
</div>
</div>
</div>


