<ng-container *ngIf="!showCreate  && !showEdit" @collapse>
    <h2>Combos</h2>
  <div class="card">
  
      <div class="card-body">
          <a (click)="toggleCreate()" class="btn btn-primary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-plus-circle p-button-icon p-button-icon-left ng-star-inserted"></span> Nuevo</a>
       

          <div class="row" >
            <div class="col-6 md:col-6 lg:col-4"  *ngFor="let combo of combos">
                <div class="p-2">
                    <div class="shadow-2 p-4 surface-card border-round">
                        <div class="relative mb-3 imagen-container">

                            <img [src]="url + '/' + combo.comb_ImgUrl"  class="w-full" height="200px"/>
                            <div class="acciones-hover">
                                <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-sm" ></button>
                                <button pButton icon="pi pi-eye" class="p-button-rounded p-button-info p-button-sm"></button>
                                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="confirmarEliminacion(combo.comb_Id)"></button>
                           
                            </div>
                        </div>
                        <div class="flex justify-content-between align-items-center mb-3">
                            <span class="text-900 font-medium text-xl">{{combo.comb_Descripcion}}</span>
                            <span>
                               
                                <span class="font-medium">L. {{combo.comb_Precio}}</span>
                            </span>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
  
  
      </div>
    </div>
   
  </ng-container>

   <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast> 
    <div *ngIf="showCreate" @collapse>
    <app-create (creado)="registroCreado()" (cancelar)="cancelCreate()" ></app-create>
    </div>
  
    <div *ngIf="showEdit" @collapse>
     <!-- <app-edit [estadoCivil]="estadoCivilSeleccionado" (cancelar)="cancelEdit()" ></app-edit> --> 
    </div>
 
 
  