<h2 >Crear Estado Civil</h2>

<div class="card">
    <div class="card-body">
     <form (submit)="crearEstadoCivil()">
        <div class="row">
            <div class="col-md-12">
                <label for="" class="label-control">Estado Civil</label>
                <input type="text" name="esci_Descripcion" [(ngModel)] = "estadosCivil.esci_Descripcion" class="form-control"/>
                <br>
                
            </div>
            
        </div>
        <div class="row">
            <div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                    <button type="button" class="btn btn-danger" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
                </div>
                
            </div>
        </div>
     </form>
    </div>
  </div>
