<h2 >Crear nueva Sucursal</h2>
<div class="grid p-fluid">
    <div class="col-12"> 
        <div class="card">
            <div class="card-body">
            <form (submit)="crearSucursal()">
                <div class="row">
                    <div class="col-md-6">
                        <label for="" class="label-control">Sucursal:</label>  <span class="text-red-400">*</span>
                        <input pinputtext id="descripcion" name="sucu_Descripcion" [(ngModel)] = "sucursal.sucu_Descripcion"  class="p-inputtext form-control ng-invalid " required #descripcion="ngModel"/>
                        <small class="p-error" *ngIf="descripcion.invalid && cont == 1">El nombre es requerido</small>
                        <br>
                        
                    </div>
                    
                    <div class="col-md-6">
                        <label for="" class="label-control">Direccion:</label>  <span class="text-red-400">*</span>
                        <input pinputtext id="direccion" name="sucu_Direccion" [(ngModel)] = "sucursal.sucu_Direccion" class="p-inputtext form-control ng-invalid " required #direccion="ngModel"/>
                        <small class="p-error" *ngIf="direccion.invalid && cont == 1">El nombre es requerido</small>
                        
                    </div>

                    <div class="col-md-6">
                        <label>Municipios:</label>  <span class="text-red-400">*</span>
                        <p-dropdown [filter]="true" id="muni" [options]="municipios" optionLabel="muni_Descripcion" [(ngModel)]="sucursal.muni_Codigo" 
                        placeholder="Municipios" [showClear]="true" optionValue="muni_Codigo" name="muni_Codigo" appendTo="body"></p-dropdown>
                        <small class="p-error" *ngIf="!sucursal.muni_Codigo && cont == 1">El minicipio   es requerido</small>
                    </div>
                </div>
                
            
                <div class="row">
                    <div>
                        <div class="col-md-12 text-right">
                            <input type="submit" class="btn btn-primary m-2" value="Guardar" />
                            <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
                        </div>
                        
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>

