<h2 >Editar Sucursal</h2>
<div class="grid p-fluid">
    <div class="col-12">
<div class="card">
    <div class="card-body">
     <form (submit)="EditarSucursal()"  >
        <input type="text"  hidden  name="sucu_Id" [(ngModel)]="sucursal.sucu_Id"  class="form-control"  />
        <div class="row" >
            <div class="col-md-6">
                <label for="" class="label-control">Sucursal:</label>  <span class="text-red-400">*</span>
                <input pinputtext id="descripcion" name="sucu_Descripcion" [(ngModel)] = "sucursal.sucu_Descripcion"  class="p-inputtext form-control ng-invalid " required #descripcion="ngModel"/>
                <small class="p-error" *ngIf="(descripcion.invalid || !sucursal.sucu_Descripcion.trim()) && cont==1 ">El nombre es requerido</small>
                <br>
            </div>

            <div class="col-md-6">
                <label for="" class="label-control">Direccion:</label><span class="text-red-400">*</span>
                <input type="text" name="sucu_Direccion" [(ngModel)] = "sucursal.sucu_Direccion" class="form-control"/>
                <small class="p-error" *ngIf="!sucursal.sucu_Direccion.trim() && cont == 1">La direccion es requerida</small>

            </div>
            
            <div class="col-md-6">
                <label>Departamentos:</label><span class="text-red-400">*</span>
                <p-dropdown [filter]="true" (onChange)="filtrarMunicipiosPorDepartamento(departamentoSeleccionado)"   [options]="departamentos" optionLabel="depa_Descripcion" [(ngModel)]="departamentoSeleccionado"
                placeholder="Departamentos" [showClear]="true" optionValue="depa_Codigo" name="depa_Codigo" appendTo="body"></p-dropdown>
                <small class="p-error" *ngIf="!departamentoSeleccionado && cont == 1">Seleccionar departamentos</small>
            </div>

            <div class="col-md-6">
                <label>Municipios:</label><span class="text-red-400">*</span>
                <p-dropdown [filter]="true"  [options]="municipios" optionLabel="muni_Descripcion" [(ngModel)]="sucursal.muni_Codigo"
                placeholder="Municipios" [showClear]="true" optionValue="muni_Codigo" name="muni_Codigo" appendTo="body"></p-dropdown>
                <small class="p-error" *ngIf="!sucursal.muni_Codigo && cont == 1">El minicipio   es requerido</small>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn  m-2 " style="background: rgb(255 135 50); color: white;"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-save"></span> Guardar </button>

                <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-times"></span> Cancelar</button>
        </div>
        </div>
     </form>
    </div>
</div>
</div>
</div>
