
            
            <form (submit)="verificarCodigo();">
                 
                    <div class="form-container text-left" style="   max-width: 320px;
                    min-width: 270px;">
                        <h4 class="text-900 font-bold mb-2">Verificacion</h4>
                        <span class="text-600 font-medium">Enviamos un codigo de verificacion al email:</span>
                        <div class="flex align-items-center mt-1 mb-4">
                            <i class="pi pi-envelope text-600"></i>
                            <span class="text-900 font-bold ml-2">{{correoCensurado}}</span>
                        </div>
                        <div class="flex justify-content-between w-full align-items-center  gap-3">
                            <input pInputText [(ngModel)]="val1" name="val1"  class="w-3rem text-center " maxlength="1"
                            >
                            <input pInputText [(ngModel)]="val2" name="val2" class="w-3rem text-center " maxlength="1"
                            >
                            <input pInputText [(ngModel)]="val3" name="val3"  class="w-3rem text-center" maxlength="1"
                             >
                            <input pInputText [(ngModel)]="val4" name="val4" class="w-3rem text-center " maxlength="1"
                             >
                        </div>
                        <small class="p-error" *ngIf="!(val1 || val2 || val3 || val4) && cont == 1">El codigo es requerido</small>



                    </div>
                    <div class="row"> 
                        <div>
                            <div class="col-md-12 text-left">
                                <button type="button" (click)="Regresar()"  class="btn btn-secondary m-2">Regresar</button>
                                <button type="submit"  class="btn btn-primary m-2"  style="background-color: rgb(255 135 50);">Verificar</button>
                            </div>
                            
                        </div>
                    </div>
                </form>
  

<p-confirmDialog></p-confirmDialog>
 <p-toast></p-toast>