.imagen-container {
    position: relative;
  }
  
  .acciones-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .imagen-container:hover .acciones-hover {
    opacity: 1;
  }