<h2>Reporte Registro de Clientes</h2>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <Label>Fecha Inicio</Label>  <br>
                <p-calendar [showIcon]="true" name="clie_FechaCreacion" [(ngModel)] = "cliente.clie_FechaCreacion"  inputId="icon" appendTo="body" ></p-calendar> 
            </div>
            <div class="col-md-4">
                <Label>Fecha Fin</Label> <br>
                <p-calendar [showIcon]="true" name="clie_FechaModificacion" [(ngModel)] = "cliente.clie_FechaModificacion" inputId="icon" appendTo="body" ></p-calendar> 
            </div>
            
            <div class="col-md-4">
                <label for=""></label> <br>
                <button type="button" (click)="listarClientes()" class="btn" style="background: rgb(255 135 50); color: white;"> <span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-fw pi-file-pdf"></span> Generar PDF</button>
            </div>
        </div>
        <br>
       <div class="row">
            <div class="cpl-md-12">
                <iframe #pdfIframe width="100%" height="600px" style="border: none;"></iframe>
            </div>
       </div>
       
    </div>
</div>
