<p-dialog header="Editar producto" [(visible)]="modalVisible" [modal]="true" [closable]="false" [style]="{ width: '30vw' }">
    <div *ngFor="let tamano of tamanosSeleccionadosConDescripcion">
      <label>{{ tamano.tama_Descripcion }}:</label>
      <input type="number" min="0" [(ngModel)]="preciosPorTamano[tamano.tama_Id]" class="p-inputtext p-component" />
    </div>
    <div class="p-dialog-footer">
      <button pButton label="Guardar" (click)="guardarPrecios()" class="p-button-success"></button>
      <button pButton label="Cancelar" (click)="cancelarModal()" class="p-button-secondary"></button>
    </div>
  </p-dialog>
  
  <div class="p-fluid">
    <div class="p-field">
      <label for="descripcion">Descripción</label>
      <input id="descripcion" type="text" pInputText [(ngModel)]="producto.prod_Descripcion" required />
    </div>
  
    <div class="p-field">
      <label for="categoria">Categoría</label>
      <p-dropdown 
        [options]="categorias" 
        [(ngModel)]="producto.cate_Id" 
        optionLabel="cate_Descripcion" 
        optionValue="cate_Id" 
        placeholder="Seleccionar categoría">
      </p-dropdown>
    </div>
  
    <div class="p-field">
      <label for="tamanos">Tamaños</label>
      <p-multiSelect 
        [options]="tamanos" 
        [(ngModel)]="tamanoSeleccionado" 
        (onChange)="onTamanoChange($event)" 
        optionLabel="tama_Descripcion" 
        optionValue="tama_Id" 
        placeholder="Seleccionar tamaños">
      </p-multiSelect>
    </div>
  
    <div class="p-field">
      <label for="imagen">Imagen</label>
      <p-fileUpload 
        mode="basic" 
        name="imagen" 
        [auto]="true" 
        [customUpload]="true"
        (uploadHandler)="onUpload($event)" 
        accept="image/*" 
        chooseLabel="Seleccionar imagen">
      </p-fileUpload>
  
      <div *ngIf="producto.prod_ImgUrl">
        <img [src]="producto.prod_ImgUrl" alt="Imagen del producto" width="150" class="mt-2 mb-2" />
        <button pButton icon="pi pi-times" class="p-button-danger p-button-sm" (click)="removeImage()" label="Quitar imagen"></button>
      </div>
    </div>
  
    <div class="p-d-flex p-jc-end mt-3">
      <button pButton label="Cancelar" class="p-button-secondary mr-2" (click)="cancelarFormulario()"></button>
      <button pButton label="Guardar cambios" class="p-button-success" (click)="EditarProducto()"></button>
    </div>
  </div>
  