<ng-container *ngIf="!showCreate  && !showEdit && !showDetails" @collapse>
    <h2>Cargos</h2>
  <div class="card">
  
      <div class="card-body">
           <p-button (click)="toggleCreate()" styleClass="p-button-primary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-plus-circle p-button-icon p-button-icon-left ng-star-inserted"></span> Nuevo</p-button>
          <p-table #dt dataKey="id" [rows]="10" [rowHover]="true" [paginator]="true" [value]="cargos" [globalFilterFields]="['carg_Descripcion']">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-end flex-column sm:flex-row">
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input #filter pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10px;">
                        Acciones
                    </th>
                   
                    <th>
                        <div class="flex justify-content-between align-items-center" pSortableColumn="carg_Descripcion">
                            Cargo
                            <p-sortIcon field="carg_Descripcion"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-carg>
                <tr>
                    <td>
                      <p-splitButton appendTo="body" label="Acciones" icon="pi pi-cog" [model]="carg.acciones" styleClass="p-button-secondary"></p-splitButton>
                    </td>
                   
                    <td>
                        <div class="flex justify-content-between align-items-center">
                            {{carg.carg_Descripcion}}
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">Sin registros</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>

  
      </div>
    </div>
   
  </ng-container>

   <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast> 
    <div *ngIf="showCreate" @collapse>
    <app-create (creado)="registroCreado()" (errorCrear)="crearError()" (cancelar)="cancelCreate()" ></app-create>
    </div>
  
    <div *ngIf="showEdit" @collapse>
        <app-edit [cargoId]="cargoSeleccionado" (actualizado)="registroActualizado()"  (cancelar)="cancelEdit()" ></app-edit> 
    </div>

    <div *ngIf="showDetails" @collapse>
        <app-details [cargoId]="cargoSeleccionado"  (cancelar)="cancelDetails()" ></app-details>
    </div>
 
 
  