<div class="row">
    <div class="col-6 md:col-6">
        <div class="card">
            <div class="card-header line-height-4">
                <span>Ventas Mensuales</span>
               
            </div>
    
            <div class="graph">
                <p-chart #revenue type="bar" id="revenue-chart" [data]="revenueChart"
                    [options]="revenueChartOptions"></p-chart>
            </div>
        </div>
    </div>
    
    <div class="col-6 md:col-6">
        <div class="card">
            <div class="card-header line-height-4">
                <span>Productos vendidos en el mes</span>
               
            </div>
    
            <div class="graph">
                <p-chart #revenue type="bar" id="revenue-chart" [data]="productos"
                    [options]="opcionesProductos"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-6 md:col-6">
        <div class="card">
            <div class="card-header line-height-4">
                <span>Total ventas</span>
                <p-dropdown [options]="revenueMonth" [(ngModel)]="selectedRevenueMonth" optionLabel="name"
                    (onChange)="
                        changeRevenueChart($event); revenue.refresh()
                    "></p-dropdown>
            </div>

            <div class="graph">
                <p-chart #revenue type="line" id="revenue-chart" [data]="revenueChart2"
                    [options]="revenueChartOptions2"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-6 md:col-6">
        <div class="card">
            <div class="card-header line-height-4">
                <span>Productos vendidos</span>
                <p-dropdown [options]="revenueMonth" [(ngModel)]="selectedRevenueMonth" optionLabel="name"
                    (onChange)="
                        changeRevenueChart($event); revenue.refresh()
                    "></p-dropdown>
            </div>

            <div class="graph">
                <p-chart #revenue type="line" id="revenue-chart" [data]="revenueChart3"
                    [options]="revenueChartOptions3"></p-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-7 col-xl-12" *ngIf="esAdmin == 'true'">
        <div class="card card-height-100">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Ventas Por Departamento y Municipio</h5>
                
            </div>
            <!--end card-header-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="chartdiv" style="height: 360px"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-4">
                         
                                <div class="card">
                                <p-chart #visitor type="bar" [data]="visitorChart"  [options]="visitorChartOptions"
                                    id="visitor-chart"></p-chart>
                                </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
