<h2 >Crear nueva Categoria</h2>

<div class="card">
    <div class="card-body">
     <form (submit)="crearCategoria()">
        <div class="row">
            <div class="col-md-12">
                <label for="" class="label-control">Categoria:</label> <span class="text-red-400">*</span>
                <input pinputtext id="nom" name="cate_Descripcion" [(ngModel)] = "categoria.cate_Descripcion" class="p-inputtext form-control ng-invalid " required #nom="ngModel"/>
                <small class="p-error" *ngIf="(nom.invalid || !categoria.cate_Descripcion.trim()) && cont == 1">El nombre es requerido</small>
                <br>
                
            </div>
            
        </div>
        <div class="row">
            <div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary m-2" value="Guardar" />
                    <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
                </div>
                
            </div>
        </div>
     </form>
    </div>
  </div>
  <p-toast></p-toast> 