
                <form (submit)="cambioContrasena1();">

                 
                    <div class="form-container text-left" style="   max-width: 320px;
                    min-width: 270px;">
                        <h4 class="m-0 mb-2">Nueva Contraseña</h4>
                        <span class="block text-600 font-medium mb-4">ingrese su nueva contraseña</span>
                        
                            <label for=""><i class="pi pi-key"></i> Contraseña</label>
                            <input type="password" autocomplete="off" name="contra" [(ngModel)]="contra" pInputText placeholder="contraseña" class="block mb-3 form-control" style="   max-width: 320px;
                            min-width: 270px;">
                        <small class="p-error" *ngIf="!contra && cont == 1">La contraseña es requerida</small>
                        <br>
                      
                       
                            <label for=""><i class="pi pi-key"></i> Confirmar contraseña</label>
                            <input type="password" autocomplete="off" name="contraConfirmacion" [(ngModel)]="contraConfirmacion" pInputText placeholder="confirmación" class="block mb-3 form-control" style="   max-width: 320px;
                            min-width: 270px;">
                        <small class="p-error" *ngIf="!contraConfirmacion && cont == 1">La confirmacion es requerida</small>
                        <br>
                    

                        <small class="p-error" *ngIf="!validacion && cont1 == 1">las constreñas no coinciden</small>
                      
                    </div>
                    <div class="row"> 
                        <div>
                            <div class="col-md-12 text-left">
                                <button type="button" (click)="Regresar()"  class="btn btn-secondary m-2">Regresar</button>
                                <button type="submit"  class="btn btn-primary m-2"  style="background-color: rgb(255 135 50);">Enviar</button>
                            </div>
                            
                        </div>
                    </div>
                </form>
 
               
           
            
<p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>
