<h2 >Crear Prodcuto</h2>

<div class="card">
    <div class="card-body">
     <form (submit)="crearProducto()">
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">Estado Civil</label>
                <input type="text" name="prod_Descripcion" [(ngModel)] = "producto.prod_Descripcion" class="form-control"/>
                <br>
                
            </div>
            <div class="col-md-6">
                <p-fileUpload
                #fileUploader
                name="imagen"
                [customUpload]="true"
                (onSelect)="onUpload($event)"
                accept="image/*"
                [multiple]="false"
                [showUploadButton]="true"
                [showCancelButton]="false"
                [auto]="true"
                styleClass="border-1 surface-border surface-card border-round"
              >
                <ng-template pTemplate="content">
                  <div class="h-15rem overflow-y-auto py-3 border-round" style="cursor: copy" (click)="fileUploader.advancedFileInput.nativeElement.click()">
                    
                    <!-- Si no hay imagen -->
                    <div *ngIf="!producto.prod_ImgUrl" class="flex flex-column w-full h-full justify-content-center align-items-center">
                      <i class="pi pi-file text-4xl text-primary"></i>
                      <span class="block font-semibold text-900 text-lg mt-3">Seleccionar una imagen</span>
                    </div>
              
                    <!-- Si ya hay una imagen -->
                    <div *ngIf="producto.prod_ImgUrl" class="flex flex-wrap gap-3 border-round">
                      <div class="h-full relative w-7rem h-7rem border-3 border-transparent border-round">
                        <img [src]="producto.prod_ImgUrl" class="w-full h-full border-round shadow-2">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-times"
                          class="p-button-rounded p-button-primary text-sm absolute w-2rem h-2rem"
                          style="top: -10px; right: -10px;"
                          (click)="removeImage()"
                        ></button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-fileUpload>
                
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                    <button type="button" class="btn btn-danger" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
                </div>
                
            </div>
        </div>
     </form>
    </div>
  </div>
