<h2 >Crear Prodcuto</h2>

<div class="card">
    <div class="card-body">
     <form (submit)="crearProducto()">
        <div class="row m-2">
            <div class="col-md-6">
                <label for="" class="label-control">Nombre</label><span class="text-red-400">*</span>
                <input type="text" name="prod_Descripcion" [(ngModel)] = "producto.prod_Descripcion" class="form-control" required #descripcion="ngModel"/>
                <small class="p-error" *ngIf="(descripcion.invalid  || !producto.prod_Descripcion.trim()) && cont == 1">El nombre es requerido</small>
                <br>
                
            </div>
            <div class="col-md-6">
              <label>Categoria</label><span class="text-red-400">*</span> <br>
              <p-dropdown [filter]="true"  [options]="categorias" optionValue="cate_Id" optionLabel="cate_Descripcion"  [(ngModel)]="producto.cate_Id" 
              placeholder="Seleccione una categoria" [showClear]="true"  name="cate_Id" appendTo="body" ></p-dropdown>
              <br>
              <small class="p-error" *ngIf="!producto.cate_Id && cont == 1">La categoria es requerida</small>
              
          </div>
        <div class="row">
          <div class="col-md-6">
            <label >Tamaños</label><span class="text-red-400">*</span>
            <span class="p-float-label">
              <p-multiSelect inputId="multiselect" [options]="tamanos" name="tama_Id" [(ngModel)]="tamano.tama_Id" optionValue="tama_Id"  optionLabel="tama_Descripcion"
              placeholder="Seleccione un tamaño"   (onChange)="onTamanoChange($event)"  [filter]="false" appendTo="body"></p-multiSelect>
              <br>
              <small class="p-error" *ngIf="!tamano.tama_Id && cont == 1">El tamaño es requerido</small>
          </span>
          </div>
        </div>
        
        
        <div class="row mt-3">
       
         
          <div class="col-md-12 ">
            <label for="">Imagen del producto</label><span class="text-red-400">*</span>
            <p-fileUpload
            #fileUploader
            name="imagen"
            [customUpload]="true"
            (onSelect)="onUpload($event)"
            accept="image/*"
            [multiple]="false"
            [showUploadButton]="false"
            [showCancelButton]="false"
            styleClass="border-1 surface-border surface-card border-round"
            [(ngModel)] = "producto.prod_ImgUrl"
            required #img="ngModel"
            >
            
          >
         
            <ng-template pTemplate="content">
             
              <div class="h-15rem overflow-y-auto py-3 border-round" style="cursor: copy" (click)="fileUploader.advancedFileInput.nativeElement.click()">
                
                <!-- Si no hay imagen -->
                <div *ngIf="!producto.prod_ImgUrl" class="flex flex-column w-full h-full justify-content-center align-items-center">
                  <i class="pi pi-file text-4xl text-primary"></i>
                  <span class="block font-semibold text-900 text-lg mt-3">Seleccionar una imagen</span>
                </div>
          
                <!-- Si ya hay una imagen -->
                <div *ngIf="producto.prod_ImgUrl" class="flex flex-wrap gap-3 border-round">
                  <div class="h-full relative w-7rem h-7rem border-3 border-transparent border-round">
                    <img [src]="producto.prod_ImgUrl" class="w-full h-full border-round shadow-2">
                    <button
                      pButton
                      type="button"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-primary text-sm absolute w-2rem h-2rem"
                      style="top: -10px; right: -10px;"
                      (click)="removeImage()"
                    ></button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-fileUpload>
          <small class="p-error" *ngIf="!producto.prod_ImgUrl && cont2 == 1">La imagen es requerida</small>
        </div>
    </div>
        </div>
        <div class="row">
            <div>
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary m-2"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-save"></span> Guardar </button>
                  <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-times"></span> Cancelar</button>
              </div>
                
            </div>
        </div>
        <p-dialog header="Asignar precios por tamaño" [(visible)]="modalVisible" [modal]="true" [closable]="false">
          <div class="row">
            <div class="col-md-6" *ngFor="let t of tamanosSeleccionadosConDescripcion">
              <label>Precio de {{ t.tama_Descripcion }}</label><span class="text-red-400">*</span>
              <input type="number" [(ngModel)]="preciosPorTamano[t.tama_Id]" name="precio_{{ t.tama_Id }}" class="form-control" placeholder="Ingrese precio" required #precio="ngModel"/>
              <small class="p-error" *ngIf="precio.invalid && cont1 == 1">El precio es requerido</small>
            </div>
        
          </div>
          <ng-template pTemplate="footer">
            <button type="button"  pButton label="Guardar" (click)="guardarPrecios()"></button>
            <button type="button" pButton label="Cancelar" class="p-button-secondary" (click)="cancelarModal()"></button>
          </ng-template>
        </p-dialog>
     </form>
    </div>
  </div>
