
<div class="card">
    <h2 class="card-header">Estados Civiles</h2>
    <div class="card-body">
        <a routerLink="/estadoCivil/crear" class="btn btn-primary">Crear</a>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Acciones</th>
                <th>Id</th>
                <th>Estado Civil</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estadoCivil of estadosCivil">
                <td>
                    <a (click)="ObtenerEstadoCivil(estadoCivil.esCi_Id)" class="btn btn-warning">Editar</a>
   
                  </td>
                <td>{{ estadoCivil.esCi_Id }}</td>
                <td>{{ estadoCivil.esci_Descripcion }}</td>
                
              </tr>
            </tbody>
        </table>
    </div>
  </div>
