

            <form (submit)="generarCodigo();">
            
                <div class="form-container text-left" style="   max-width: 320px;
                min-width: 270px;">
                 
                    <h4 class="m-0 mb-2">Contraseña Olvidada</h4>
                    <span class="block text-600 font-medium mb-4">Ingresa tu usuario  para restablecer contraseña</span>
                  
                        <label for=""><i class="pi pi-user"></i> Usuario</label><span class="text-red-400">*</span>
                        <input type="text" autocomplete="off" name="usua_Usuario" [(ngModel)]="usuario.usua_Usuario" #emailInput pInputText placeholder="usuario" class="block mb-3 form-control" style="max-width: 320px;
                        min-width: 270px;">
                        <small class="p-error" *ngIf="!usuario.usua_Usuario && cont == 1">El usuario es requerido</small>
                        
             
                   
                   
                </div>

                <div class="row"> 
                    <div>
                        <div class="col-md-12 text-left">
                            <button type="button" (click)="Regresar()"  class="btn btn-secondary m-2">Regresar</button>
                            <button type="submit"  class="btn btn-primary m-2"  style="background-color: rgb(255 135 50);">Enviar</button>
                        </div>
                        
                    </div>
                </div>
            </form>
  
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast> 

