<h2 >Crear nuevo Tamano</h2>

<div class="card">
    <div class="card-body">
     <form (submit)="crearTamano()">
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">Tamano:</label>  <span class="text-red-400">*</span>
                <input pinputtext id="desc" name="tama_Descripcion" [(ngModel)] = "tamano.tama_Descripcion" class="p-inputtext form-control ng-invalid " required #desc="ngModel"/>
                <small class="p-error" *ngIf="(desc.invalid  || !tamano.tama_Descripcion.trim()) && cont==1 ">El nombre es requerido</small>
                <br>
            </div>
        
        </div>
        <div class="row">
            <div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary m-2" value="Guardar" />
                    <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
                </div>
                
            </div>
        </div>
     </form>
    </div>
  </div>

<p-toast></p-toast>