<h2 >Crear Usuario</h2>
<div class="grid p-fluid">
    <div class="col-12"> 
<div class="card">
    <div class="card-body">
     <form (submit)="crearUsuario()">
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">Usuario</label>  <span class="text-red-400">*</span>
                <input pinputtext id="usuar" name="usua_Usuario" [(ngModel)] = "usuario.usua_Usuario" class="p-inputtext form-control ng-invalid " required #usuar="ngModel"/>
                <small class="p-error" *ngIf="usuar.invalid && cont == 1">El usuario es requerido</small>
                
            </div>
            <div class="col-md-6">
                <label for="" class="label-control">Contraseña</label>  <span class="text-red-400">*</span>
                <input pinputtext id="cla" name="usua_Clave" [(ngModel)] = "usuario.usua_Clave" class="p-inputtext form-control ng-invalid " required #cla="ngModel"/>
                <small class="p-error" *ngIf="cla.invalid && cont == 1">La clave es requerido</small>
                
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">Correo</label>  <span class="text-red-400">*</span>
                <input pinputtext id="corr" name="usua_Correo" [(ngModel)] = "usuario.usua_Correo" class="p-inputtext form-control ng-invalid " required #corr="ngModel"/>
                <small class="p-error" *ngIf="corr.invalid && cont == 1">El correo es requerido</small>
                
            </div>

            <div class="col-md-6">
                <label>Empleados:</label>  <span class="text-red-400">*</span>
                <p-dropdown [filter]="true"  [options]="empleados" optionLabel="empl_Nombre" [(ngModel)]="usuario.empl_Id" 
                placeholder="Empleados" [showClear]="true" optionValue="empl_Id" name="empl_Id" appendTo="body"></p-dropdown>
                <small class="p-error" *ngIf="!usuario.empl_Id && cont == 1">El empleado es requerido</small>
            </div>
            
        </div>
        <div class="row">
             <div class="col-md-6">
                <label>Roles:</label>  <span class="text-red-400">*</span>
                <p-dropdown [filter]="true"  [options]="roles" optionLabel="role_Descripcion" [(ngModel)]="usuario.role_Id" 
                placeholder="Roles" [showClear]="true" optionValue="role_Id" name="role_Id" appendTo="body"></p-dropdown>
                <small class="p-error" *ngIf="!usuario.role_Id && cont == 1">El rol es requerido</small>
            </div>

            <div class="col-md-6">
                <label for="" class="label-control">Es admin?</label>  <span class="text-red-400">*</span>
                <br>
                <p-toggleButton [(ngModel)]="usuario.usua_Admin" onLabel="Si" offLabel="No"
                [style]="{'width': '10em'}" name="usua_Admin" (onChange)="onAdminToggleChange($event)"></p-toggleButton>
             
                
            </div>
            
        </div>
        <br>
        <div class="row">
            <div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                    <button type="button" class="btn btn-danger" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
                </div>
                
            </div>
        </div>
     </form>
    </div>
  </div>
</div>
</div>
<p-toast></p-toast>