
<form (submit)="crearMunicipio()">
    <div class="col-12 align-items-center">
        <div class="card p-fluid col-8 mx-auto">
            <h5>Nueva Municipip</h5>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="cod">Codigo <span class="text-red-200">*</span></label>
                    <input pInputText id="cod" type="text" [(ngModel)] = "municipio.muni_Codigo" name="muni_Codigo"/>
                </div>
                
                <div class="field col">
                    <label htmlFor="muni">Municipio <span class="text-red-200">*</span></label>
                    <input pInputText id="muni" type="text" [(ngModel)] = "municipio.muni_Descripcion" name="muni_Descripcion"/>
                </div>

                <div class="field col">
                    <label htmlFor="categorias">Depa <span class="text-red-200">*</span></label>
                    <p-dropdown [filter]="true"  [options]="departamentos"  [(ngModel)]="municipio.depa_Codigo" 
                placeholder="Seleccionar Departamento" [showClear]="true"  name="depa_Codigo" ></p-dropdown>
                </div>
            </div>
            <div class="field">
                <button type="submit" value="Guardar" label="Guardar" class="p-button-outlined p-button-primary"></button>
            </div>
        </div>
    </div>
</form>







