<h2 >Crear Departamento</h2>

<div class="card">
    <div class="card-body">
     <form (submit)="crearDepartamento()">
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">Codigo:</label>
                <input pinputtext id="cod" name="depa_Codigo" [(ngModel)] = "departamento.depa_Codigo" class="p-inputtext form-control ng-invalid " required #cod="ngModel"/>
                <small class="p-error" *ngIf="cod.invalid && cont == 1">El codigo es requerido</small>
                <br>
                
            </div>

            <div class="col-md-6">
              <label for="" class="label-control">Departamento:</label>
              <input pinputtext id="desc" name="depa_Descripcion" [(ngModel)] = "departamento.depa_Descripcion" class="form-control" class="p-inputtext form-control ng-invalid " required #desc="ngModel"/>
              <small class="p-error" *ngIf="desc.invalid && cont == 1">El nombre es requerido</small>
              <br>
              
          </div>
            
        </div>
        <div class="row">
            <div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary m-2" value="Guardar"  />
                    <button type="button" class="btn btn-danger m-2" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
                </div>
                
            </div>
        </div>
     </form>
    </div>
  </div>
    <p-toast></p-toast>
