<p-sidebar [(visible)]="visible" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
    styleClass="layout-profile-sidebar w-full sm:w-28rem ">

    <div class="layout-rightmenu h-full overflow-y-auto overflow-x-hidden"
        [ngClass]="{'layout-rightmenu-active': layoutService.state.rightMenuActive}">

        <div class="user-detail-wrapper text-center" style=" padding: 4.5rem 0 2rem 0;">
            <div class="user-detail-content mb-4">
                <i class="pi pi-user" alt="atlantis" class="user-image"  style="color: black;" ></i>
                <span class="user-name text-2xl text-center block mt-4 mb-1">{{usuario}}</span>
                <span class="user-number">{{empleado}}</span>
                <a href="#" (click)="cierreSesion()" class="text-center block mt-4 mb-1 hover:text-primary-500 transition-duration-200" pStyleClass="@grandparent" enterFromClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                    <i class="pi pi-fw pi-sign-out mr-2"></i>
                    <span>Cerrar Sesion</span>
                </a>
            </div>
           
        </div>
       
        
        
    </div>

</p-sidebar>