<h2 >Editar Estado Civil</h2>
<div class="card">
 
    <div class="card-body">
     <form (submit)="EditarEstadoCivil()" >
        <input type="text"  hidden>
        <div class="row" >
            
            <div class="col-md-12" >
                <label for="" class="label-control">Estado Civil</label>
                <input type="text" name="esci_Descripcion" [value]="estadosCivil.esci_Descripcion" class="form-control" />
                <br>
              
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" class="btn btn-primary" value="Guardar" />
                <button type="button" class="btn btn-secondary" (click)="cancelarFormulario()" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
     </form>
    </div>
  </div>
