<div class="row mt-3">

    <div class="col-12 widget-customer-carousel" *ngIf="combos.length >0">
        <h2>¡Lo mas vendido!</h2>
        <p-carousel [value]="combos" [numVisible]="3" [numScroll]="1" [circular]="true"
            [responsiveOptions]="carouselResponsiveOptions" indicatorsContentClass="hidden">
            <ng-template let-combos pTemplate="item">
                <div class="card mr-4">
                    <div class="customer-item-content text-center">
                        <div class="mb-6">
                            <img [src]="url + '/' + combos.comb_ImgUrl"  class="w-full" height="200px"/>
                        </div>
                        <div class="flex justify-content-between align-items-center mb-3">
                            <span class="text-900 font-medium text-xl">{{combos.comb_Descripcion}}</span>
                            <span>
                               
                                <span class="font-medium">Total vendidos: {{combos.comb_Precio}}</span>
                            </span>
                     
                           
                              
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <div class="grid">
        <div class="col-12 md:col-4">
            <div class="card relative h-6rem border-round-xl p-3">
                <span class="text-sm font-medium line-height-1">
                    Cantidad de Clientes
                </span>
                <div class="flex justify-content-between">
                    <div class="flex justify-content-between align-items-center">
                      
                        <div class="line-height-4 text-4xl">{{cantidadClientes}}</div>
                    </div>
                </div>
                <img class="absolute" style="bottom: 14px; right: 12px"
                    src="assets/demo/images/ecommerce-dashboard/rate.svg" />
            </div>
        </div>

        <div class="col-12 md:col-4">
            <div class="card relative h-6rem border-round-xl p-3">
                <span class="text-sm font-medium line-height-1">
                    Cantidad de Clientes
                </span>
                <div class="flex justify-content-between">
                    <div class="flex justify-content-between align-items-center">
                      
                        <div class="line-height-4 text-4xl">{{cantidadClientes}}</div>
                    </div>
                </div>
                <img class="absolute" style="bottom: 14px; right: 12px"
                    src="assets/demo/images/ecommerce-dashboard/rate.svg" />
            </div>
        </div>

        <div class="col-12 md:col-4">
            <div class="card relative h-6rem border-round-xl p-3">
                <span class="text-sm font-medium line-height-1">
                    Cantidad de Clientes
                </span>
                <div class="flex justify-content-between">
                    <div class="flex justify-content-between align-items-center">
                      
                        <div class="line-height-4 text-4xl">{{cantidadClientes}}</div>
                    </div>
                </div>
                <img class="absolute" style="bottom: 14px; right: 12px"
                    src="assets/demo/images/ecommerce-dashboard/rate.svg" />
            </div>
        </div>
    </div>

    <div class="graph col-12 md:col-4">
      

        <p-chart #visitor type="bar" [data]="visitorChart"  [options]="visitorChartOptions"
            id="visitor-chart"></p-chart>
    </div>
    
  
</div>
