<h2 >Editar Cargo</h2>
<div class="grid p-fluid">
    <div class="col-12"> 
<div class="card">
    <div class="card-body">
     <form (submit)="EditarEmpleado()"  >
        <input type="text"  hidden  name="empl_Id" [(ngModel)]="empleado.empl_Id"  class="form-control"  />
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">DNI</label>  <span class="text-red-400">*</span>
                <p-inputMask   mask="9999-9999-99999"  id="iden" name="empl_Identidad" [(ngModel)] = "empleado.empl_Identidad"   />
                <small class="p-error" *ngIf="( !empleado.empl_Identidad.trim()) && cont == 1">La identidad es requerido</small>
             
                
            </div>
            <div class="col-md-6">
                <label for="" class="label-control">Nombres</label>  <span class="text-red-400">*</span>
                <input pinputtext id="nom" name="empl_Nombre" [(ngModel)] = "empleado.empl_Nombre" class="p-inputtext form-control ng-invalid " required #nom="ngModel"/>
                <small class="p-error" *ngIf="(nom.invalid || !empleado.empl_Nombre.trim()) && cont == 1">El nombre es requerido</small>
                
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label-control">Apellidos</label>  <span class="text-red-400">*</span>
                <input pinputtext id="ape" name="empl_Apellido" [(ngModel)] = "empleado.empl_Apellido" class="p-inputtext form-control ng-invalid " required #ape="ngModel"/>
                <small class="p-error" *ngIf="(ape.invalid || !empleado.empl_Apellido.trim()) && cont == 1">El apellido es requerido</small>
                
            </div>
            <div class="col-md-6">
                <label for="" class="label-control">Fecha de Nacimiento:</label> <span class="text-red-400">*</span>
               
                <p-calendar [showIcon]="true" name="empl_FechaNacimiento" [(ngModel)] = "empleado.empl_FechaNacimiento" inputId="icon" appendTo="body"  dateFormat="dd/mm/yy" ></p-calendar>
                <small class="p-error" *ngIf="!empleado.empl_FechaNacimiento && cont == 1">La fecha de nacimiento es requerido</small>
                
            </div>
            
        </div>
        
        <div class="row">
            
            <div class="col-md-6">
                <label for="" class="label-control">Sexo</label>  <span class="text-red-400">*</span>
                <br>
                <p-selectButton
                name="empl_Sexo"
                [options]="sexoOptions"
                optionLabel="label"
                optionValue="value"
                [(ngModel)]="empleado.empl_Sexo">
              </p-selectButton>
              <small class="p-error" *ngIf="!empleado.empl_Sexo && cont == 1">El sexo es requerido</small>
              </div>

            

            <div class="col-md-6">
                <label>Estado Civil:</label>  <span class="text-red-400">*</span>
                <p-dropdown [filter]="true"  [options]="estadoCivil" optionLabel="esci_Descripcion" [(ngModel)]="empleado.esCi_Id" 
                placeholder="Seleccione un estado civil" [showClear]="true" optionValue="esCi_Id" name="esCi_Id" appendTo="body"></p-dropdown>
                <small class="p-error" *ngIf="!empleado.esCi_Id && cont == 1">El estado civil es requerido</small>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Cargo:</label>  <span class="text-red-400">*</span>
                <p-dropdown [filter]="true"  [options]="cargo" optionLabel="carg_Descripcion" [(ngModel)]="empleado.carg_Id" 
                placeholder="Seleccione un cargo" [showClear]="true" optionValue="carg_Id" name="carg_Id" appendTo="body"></p-dropdown>
                <small class="p-error" *ngIf="!empleado.carg_Id && cont == 1">El cargo es requerido</small>
            </div>

            <div class="col-md-6">
                <label>Sucursal:</label>  <span class="text-red-400">*</span>
                <p-dropdown [filter]="true"  [options]="sucursal" optionLabel="sucu_Descripcion" [(ngModel)]="empleado.sucu_Id" 
                placeholder="Seleccione una sucursal" [showClear]="true" optionValue="sucu_Id" name="sucu_Id" appendTo="body"></p-dropdown>
                <small class="p-error" *ngIf="!empleado.sucu_Id && cont == 1">La sucursal es requerido</small>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary m-2"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-save"></span> Guardar </button>
                <button type="button" class="btn btn-danger  m-2" (click)="cancelarFormulario()" class="btn btn-secondary"><span ng-reflect-ng-class="[object Object]" data-pc-section="icon" class="pi pi-times"></span> Cancelar</button>
        </div>
        </div>
     </form>
    </div>
</div>
</div>
</div>

