<h2 >Detalles</h2>
<div class="card">
    <div class="card-body">
   
        <div class="row" >
            <div class="col-md-4 p-1" >
                <label  class="label-control">Identidad:</label> <br>
                <label for="">{{empleado.empl_Identidad}}</label>
            </div>

            <div class="col-md-4 p-1" >
                <label  class="label-control">Empleado:</label> <br>
                <label for="">{{empleado.empl_Nombre}} {{empleado.empl_Apellido}}</label>
            </div>

            <div class="col-md-4 p-1" >
                <label  class="label-control">Fecha Nacimiento:</label> <br>
                <label for="">{{empleado.empl_FechaNacimiento}}</label>
            </div>

            <div class="col-md-4 p-1" >
                <label  class="label-control">Sexo:</label> <br>
                <label for="">{{empleado.empl_Sexo}}</label>
            </div>

            <div class="col-md-4 p-1" >
                <label  class="label-control">Estado Civil:</label> <br>
                <label for="">{{empleado.esCi_Descripcion}}</label>
            </div>

            <div class="col-md-4 p-1" >
                <label  class="label-control">Cargo:</label> <br>
                <label for="">{{empleado.carg_Descripcion}}</label>
            </div>

            <div class="col-md-4 p-1" >
                <label  class="label-control">Sucursal:</label> <br>
                <label for="">{{empleado.sucu_Descripcion}}</label>
            </div>   

        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p-table >
                   
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 10px;">
                                Acción
                            </th>
                            <th style="width: 10px;">
                                Usuario
                            </th>
                            <th style="width: 10px;">
                                Fecha
                           </th>
                           
                        </tr>
                    </ng-template>
                    <ng-template >
                        <tr>
                            <td>Creacion</td>
                            <td>
                                <label for="">{{empleado.usuaC_Nombre}}</label>
                            </td>
                            <td>
                                <label for="">{{empleado.empl_FechaCreacion}}</label>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>Actualizacion</td>
                                <td>
                                    <label for="">{{empleado.usuaM_Nombre}}</label>
                                </td>
                                <td>
                                    <label for="">{{empleado.empl_FechaModificacion}}</label>
                                </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td>Creacion</td>
                            <td>
                                <label for="">{{empleado.usuaC_Nombre}}</label>
                            </td>
                            <td>
                                <label for="">{{empleado.empl_FechaCreacion}}</label>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>Actualizacion</td>
                                <td>
                                    <label for="">{{empleado.usuaM_Nombre}}</label>
                                </td>
                                <td>
                                    <label for="">{{empleado.empl_FechaModificacion}}</label>
                                </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="8">Loading customers data. Please wait.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-right">
               
                <button type="button" class="btn btn-secondary" (click)="cancelarFormulario()" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Regresar</button>
            </div>
        </div>

    </div>
  </div>


